header {
  font-size: 20px;
  color: #B5F5F2;
}

.newsfeed-source {
  color: var(--color-text-bright);
}

.newsfeed-desc {
  color: var(--color-text-bright);
}

.MMM-Videoplayer video {
    width: 1920px;
    height: 1080px;
}

.MMM-MacAddressScan .headerDevCell {
  font-size: 28px;
}

.Tools {
  font-size: 20px;
}

.mmm-hue-lights .grid {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    margin: -10px;
    max-width: none;
    justify-content: center;
}

.mmm-hue-lights .grid .hue {
    width: calc(33% - 20px);
    margin: 10px;
    display: block;
}

.calendar .medium {
  font-size: 25px;
  line-height: 30px;
}

.MMM-Solar .module-content {
  margin-top: 10px;
}

.MMM-DarkSkyForecast .module-content {
  width: 500px;
}
