dot-wireless-home.txt
getscene
hide_keys.sh
hide_bin_keys.sh
hide_all_keys.sh
rmlist.txt
show_keys.sh
show_bin_keys.sh
show_all_keys.sh
config/config-instagram.js
config/config-mintest.js
config/config-sample.js
config/config-unknown.js
config/test/*
modules/MMM-AssistantMk2/deviceInstance.json
modules/MMM-AssistantMk2/profiles/default.json
modules/MMM-Hotword/trainer/trainer-withtoken.sh
modules/MMM-TelegramBot/bot.txt
modules/MMM-GoogleAssistant/credentials.json
modules/MMM-GoogleAssistant/tokens/tokenGA.json
modules/MMM-GoogleAssistant/tokens/tokenGP.json
modules/MMM-GoogleAssistant/tokens/tokenYT.json
