dot-wireless-home.txt
etc/notelegramkey
getscene
hide_keys.sh
hide_bin_keys.sh
hide_all_keys.sh
show_keys.sh
show_bin_keys.sh
show_all_keys.sh
config*/tmp/*
config/config-mintest.js
config/config-sample.js
config/config-unknown.js
config/config.js.sample
config/test/*
etc/my_mirrorkeys
etc/my_arp-devices.js
etc/my_arp-devices-cols.js
etc/my_arp-devices-scenes.js
modules/default/calendar/calendars/*
modules/MMM-AssistantMk2/deviceInstance.json
modules/MMM-AssistantMk2/profiles/default.json
modules/MMM-Hotword/trainer/trainer-withtoken.sh
modules/MMM-TelegramBot/bot.txt
modules/MMM-GoogleAssistant/credentials.json
modules/MMM-GoogleAssistant/tokens/token*.json
dist/*
releases/*
tests/sample-gitlab-ci.yml
tmp/*
